body {
  background-color: #966f33;
}

h1 {
  margin: 20px;
  color: #77b300;
}

h2 {
  color: #483c32;
  margin: 30px;
}

#main {
  position: absolute;
  margin: 2%;
  padding: 2%;
}

/*.racer_table {
  border-color: black;
}*/

td {
  background-color: #b9b9b8;
  height: 50px;
  width: 50px;
  border-color: grey; /*find darker grey*/
  border-style: solid;
  border-collapse: collapse;
}

.active {
  background-color: #ff994d;
}

.invisible {
  border-color: transparent;
  border-style: none;
/*  border-collapse: collapse;*/
  background-color: #966f33;
}

.p1_strip{
  background-color: #999999;
  opacity: .4;
}

.p2_strip {
  background-color: #6666ff;
  opacity: .4;
}

/*button {
  size: 10px;
  border-color: black;
  border-style: solid;
}*/
